[submodule "src/ACTIONet"]
	path = src/ACTIONet
	url = https://github.com/shmohammadi86/ACTIONet/tree/core/src

	
[submodule "src_modular"]
	path = src_modular
	branch = core
	url = https://github.com/shmohammadi86/ACTIONet
