.Rproj.user
.Rhistory
.RData
.Ruserdata
*.swp
*.o
~*
*.so
*.a
test/
dist/
ACTIONet.egg-info/
build/
data/
!ACTIONet/data
.vscode
__pycache__
.ipynb_checkpoints
.idea/
**/.DS_Store
docker_insitro.txt
tests/tmp
tests/data
