[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11
	branch = v2.10
[submodule "lib/ACTIONet"]
	path = lib/ACTIONet
	url = https://github.com/shmohammadi86/ACTIONet.git
	branch = core
